{% extends "site_base.html" %}
{% load static %}

{% block page_title %}Todo Home{% endblock %}

{% block page_heading_title %}
    <h1>Todo Home</h1>
{% endblock %}

{% block main_body %}
    <h2>Application Topic</h2>
    <p>Welcome to my todo list application.</p>
    <h2 >Website Purpose</h2>
    <p>My name is Joshua Bauer (S263364).</p>
    <p>I've always wanted to create a easy to use Todo list for myself and my partner, so I've taken this opportunity to achieve just this and selected the principal topic of Todo List.</p>
    <p>A Todo list requires a few components that allow it to be more than just a check list of tasks. My example uses an item list which is the collection of all tasks. This contains the Name of the task, task description, due date and if it's completed.</p>
    <p>The above would normally be it, making it quite a simple model, however I wanted to add some extra features that I find missing in "simple" Todo lists. These are priority, tags and assigned users.</p>
    <p>These tables I believe keep the Todo list not overly feature packed but just add the extra need or being able to rank Todo items and assign tags, for example is it for business or personal? Lastly sharing with my wife means I want to be able to assign users to the Todo item.</p>
    <p>I find these important aspects and so have added them into the topic and allowed them to be editable, this is because users may not all have the same priority queue or tags, and the assignee will be able to be identified by their name.</p>
{% endblock %}