{% extends "site_base.html" %}
{% load static %}

{% block page_title %}Todo List{% endblock %}

{% block page_heading_title %}<h1>Todo List</h1>{% endblock %}

{% block main_body %}
    <h2>List {{ type | title }}</h2>
<i class="fa fa-plus-square"></i> <a href="{% url 'create' 'create' type %}">Create</a>
    {% if list %}
        <ul class="list-group">
          {% for item in list %}
              <li class="list-group-item">
                <a href="{% url 'record' 'detail' type item.id %}">
                  {% if type == 'item' %}
                    {{ item.title }}
                  {% elif type == 'assignee' %}
                    {{ item.firstname }} {{ item.lastname }}
                  {% else %}
                    {{ item.name }}
                  {% endif %}
                 </a>
                  {% if type == 'item' %}
                  {% for tag in item.tags.all %}
                  <span class="badge badge-default badge-pill">
                    <i class="fa fa-tags"></i>{{ tag }}
                  </span>
                    {% endfor %}
                  <span style="display: inherit;">Due: {{ item.duedate }}</span>
                  {% endif %}
                  <span style="display: inherit;">
                      <a href="/update/item/464a3a05-57ec-4cae-aacc-0b45f64c5589" style=""><i class="fa fa-edit"></i>Edit</a> 
                      <a href="/delete/item/464a3a05-57ec-4cae-aacc-0b45f64c5589"><i class="fa fa-trash-o"></i>Delete</a>
                  </span>
              </li>
          {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, there appears to be no {{ type }} in the database.</p>
    {% endif %}
{% endblock %}