{% extends "site_base.html" %}
{% load static %}

{% block page_title %}Todo List{% endblock %}

{% block page_heading_title %}<h1>Todo List</h1>{% endblock %}

{% block main_body %}
    <h2>List {{ type | title }}</h2>
<a href="{% url 'create' 'create' type %}">Create</a>
    {% if list %}
        <ul>
          {% for item in list %}
              <li>
                <a href="{% url 'record' 'detail' type item.id %}">
                  {% if type == 'item' %}
                    {{ item.title }}, {{ item.duedate }}
                  {% elif type == 'assignee' %}
                    {{ item.firstname }} {{ item.lastname }}
                  {% else %}
                    {{ item.name }}
                  {% endif %}
              </a><a href="{% url 'record' 'update' type item.id %}">Edit</a>
                  <a href="{% url 'record' 'delete' type item.id %}">Delete</a>
              </li>
          {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, there appears to be no {{ type }} in the database.</p>
    {% endif %}
{% endblock %}