{% extends "site_base.html" %}
{% load static %}

{% block page_title %}{{ operation | title }} {{ type | title }}{% endblock %}

{% block main_body %}
    <h2>{{ operation | title }} {{ type | title }}</h2>
    {% if operation == 'create'%}
            <form action="{% url 'create' operation type %}" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group {%if field.errors %}has-error{%endif%}">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help-block">{{ field.help_text|safe }}</p>
                    <small class="text-danger">
                      {{ field.errors }}
                    </small>
                    {% endif %}
                </div>
            {% endfor %}    
            <input class="btn btn-primary" type="submit" value="{{ operation | title }}" />
        </form>
    {% endif %}
    {% if operation == 'update'%}
    <form action="{% url 'record' operation type guid %}" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group {%if field.errors %}has-error{%endif%}">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help-block">{{ field.help_text|safe }}</p>
                    <small class="text-danger">
                      {{ field.errors }}
                    </small>
                    {% endif %}
                </div>
            {% endfor %}  
            <input class="btn btn-primary" type="submit" value="{{ operation | title }}" />
        </form>
    {% endif %}
    {% if operation == 'detail'%}
        <span style="display: inherit;">
            <a href="{% url 'record' 'update' type record.id %}" ><i class="fa fa-edit"></i>Edit</a> 
            <a href="{% url 'record' 'delete' type record.id %}" class="confirmation" ><i class="fa fa-trash-o"></i>Delete</a>
        </span>
        {% if type == 'item'%}
            <table>
                <tr>
                    <th>Title</th>
                    <td>{{ record.title }}</td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td>{{ record.notes }}</td>
                </tr>
                <tr>
                    <th>Due Date</th>
                    <td>{{ record.duedate }}</td>
                </tr>
                <tr>
                    <th>Assignees</th>
                    <td>
                        {% for assignee in record.assignees.all %}
                        {{ assignee }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Priority</th>
                    <td>{{ record.priority }}</td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td>
                        {% for tag in record.tags.all %}
                        {{ tag }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Complete?</th>
                    <td>{{ record.complete }}</td>
                </tr>
                <tr>
                    <th>Created Date/Time</th>
                    <td>{{ record.created }}</td>
                </tr>
            </table>
        {% endif %}
        {% if type == 'assignee'%}
            <table>
                <tr>
                    <th>First Name</th>
                    <td>{{ record.firstname }}</td>
                </tr>
                <tr>
                    <th>Surname</th>
                    <td>{{ record.lastname }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ record.email }}</td>
                </tr>
            </table>
        {% endif %}
        {% if type == 'priority' or type == 'tag' %}
            <table>
                <tr>
                    <th>Name</th>
                    <td>{{ record.name }}</td>
                </tr>
            </table>
        {% endif %}
    {% endif %}
    {% if operation == 'delete'%}
        <p>Record {% firstof record.title record.name record.firstname %} deleted.</p>
    {% endif %}
{% endblock %}