<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% block page_title %}Title Not Supplied{% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
        <!--TODO add static parts -->
        <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">
        <link rel="shortcut ico" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
      <header>
      {% block page_heading_title %}<h1>ERROR: No Heading Supplied</h1>{% endblock %}
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'list' 'item' %}">List</a></li>
            <li><a href="{% url 'list' 'assignee' %}">Assignees</a></li>
            <li><a href="{% url 'list' 'priority' %}">Priorities</a></li>
            <li><a href="{% url 'list' 'tag' %}">Tags</a></li>
       </ul>
      </nav>
      </header>
     <main>
      <section>
        {% block main_body %}
        <h2 >Missing Subtitle</h2>
        <p>ERROR: Content not available</p>
        {% endblock %}
      </section>
    </main>

        

        <footer>
        <div>
            <p>&copy; 2018 Charles Darwin University  --  HIT237 Assignment 2 --  S263364 Joshua Bauer</p>
         </div>
        </footer>
    </body>
</html>